<div class="rest-password-container">
	<form class="login-form" name="recoverForm" novalidate="novalidate">
		<h3 class="margin-top-10 margin-bottom-20">Recover Password</h3>
		<div class="form-item" data-ng-class="{'has-error':(recoverForm.password.$error.required) && vm.onClickValidation}">
			<h5>{{"PASSWORD" | translate}}</h5>
			<input class="form-control" type="password" placeholder="Enter New Password" name="password" data-ng-model="vm.password" required="required" autofocus>
		</div>
		<div class="form-item margin-top-20" data-ng-class="{'has-error':(recoverForm.confirmPassword.$error.required && vm.onClickValidation) || vm.confirmPassword !== vm.password} ">
			<h5>{{"CONFIRM PASSWORD" | translate}}</h5>
			<input class="form-control" type="password" placeholder="Confirm Password" name="confirmPassword" data-ng-model="vm.confirmPassword" required="required">
		</div>
		<div class="clearfix"></div>
		<div class="margin-top-20">
			<button class="btn btn-primary site-button" data-ng-click="vm.resetPassword(recoverForm.$valid)">{{"RECOVER PASSWORD" | translate}}</button>
		</div>
	</form>
</div>
