<div class="breadcrumb-container">
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li class="active">Blogs</li>
	</ol>
</div>
<div class="col-md-12 no-padding text-right margin-bottom-10">
	<a title="Add" class="btn btn-primary btn-xs" data-ui-sref="BlogEdit({id:0})">Add New Blog</a>
</div>
<table id="sampleTable" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Category</th>
			<th>IsActive</th>
			<th width="200">CreatedOn</th>
			<th width="120"></th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="record in vm.recordList" data-on-finish-render data-broadcasteventname="ngRepeatBroadcast1">
			<td>{{record.title}}</td>
			<td>{{record.categoryName}}</td>
			<td><span class="label label-info">{{record.isActive?'Yes':'No'}}</span></td>
			<td>{{record.createdOn|date:'MM/dd/yyyy hh:mm'}}</td>
			<td class="text-center">
				<a title="Add" class="btn btn-primary btn-xs" data-ui-sref="BlogEdit({id:record.id})">Edit</a>
				<a class="btn btn-danger btn-xs" data-ng-click="vm.remove(record.id)">Delete</a>
			</td>
		</tr>
		<tr data-ng-if="vm.recordList.length==0">
			<td colspan="6" class="text-center">No Record Found</td>
		</tr>
	</tbody>
</table>
